.nav-item {
    text-align: right;
}

@media screen and (min-width: 920px){
    .dropdown-menu {
        left: -50px
    }
    .dropdown {
        display: flex;
        align-items : center
    }

    .collapse  {
        display: flex;
        justify-content: flex-end
    }
}