.avatar {
    width: 150px;
    height: 150px;
    border: 1px solid whitesmoke;
    border-radius : 50%;
    overflow: hidden;
    position: relative;
}

.avatar .profileImage {
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

input[type = file] {
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    left: 25px;
    bottom: 20px;
}

.avatar .imageSpan {
    padding-top: 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(99, 210, 244, 0.854);
    position: absolute;
    left: 0;
    bottom: -200px;
    transition: ease-in 0.2s;
}

.avatar:hover .imageSpan {
    position: absolute;
    left: 0;
    bottom: -70px;
    transition: ease-in 0.2s;
}

.avatar #myspan {
    user-select: none;
}

